:root {
    --primary-color: #0077b6;
    --secondary-color: #00b4d8;
    --accent1-color: #90e0ef;
    --accent2-color: #cffafe;
    --heading-font: "Monserrat", sans-serif;
    --text-font: "Open Sans", sans-serif;

}

header {
    background-color: var(--secondary-color);
    margin: 1rem auto;
    color: var(--accent1-color);
    display: grid;
    grid-template-columns: auto 1fr;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
    gap: 1rem;
    padding: 1rem;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li a {
    text-decoration: none;
    color: var(--primary-color);
    padding: 0.5rem 1rem;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--text-font);
    color: var(--primary-color)
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position:absolute;
    top: 20px;
    width: 50%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;

}

.history-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
}

.adventure-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
}

.adventure-gallery figure {
    text-align: center;
}

.adventure-gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.socialmedia {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

iframe {
  border: 2px solid #007BFF;
  width: 100%;
  max-width: 600px;
  height: 400px;
}

button[type="submit"] {
  background-color: #0284c7;
  color: white;
  padding: 0.75em 1.5em;
  font-size: 1rem;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
}
button:hover {
  background-color: #0369a1;
}
.hero {
  position: relative;
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
